html{
	height: 100%;
	overflow: hidden;
}


h1, h2, h3{
	font-weight: 700;
}

body{
	background-color: black;
	color: #fff;
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;
	font-family: 'Lato', sans-serif;
}




.navbar{
	margin: 0;
	color: white;	
	background-color: rgba(0,0,0,0.6);
	position: fixed;
}

#custom-nav{
	position: fixed;
    top: 0px;
    width: 100%;
}

#donate{
	background-color: rgba(236, 94, 135, 1);
	opacity: 1;
	color: white;
	border: none;
	border-radius: 0;
}


.active{
	background-color: none;
	color: rgba(236,94,135,1);
}




header{
	box-sizing: border-box;
	min-height: 100vh;
	padding: 30vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
}




header h1{
	margin-top: -100px; 
}

header, header:before{
	background:50% 50% / cover;
}

header::before{
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-image: url(page-cover.png);
	background-size: cover;
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(2);
	z-index:  -1;
	min-height: 100vh;
}


header *{
	font-weight: normal;
	letter-spacing: 0.2em;
	text-align: center;
	margin: auto;
	padding: 1em 0;
}

header h1{
	font-size: 5em;
}

.row div{
	padding: 20px;
}
.row1 div{
	text-align: center;
	background-color: #213e8c;
	font-size: 2em;
}

.row2 div{
	text-align: center;
	background-color: white;
	font-size: 1.3em;
	color: black;
}

.row2text{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
	font-size: 1.2em;
	color: black;
}

.row2 .btn-default{
	background-color: rgba(236, 94, 135, 1);
	color: white;
	border: none;
	border-radius: 0;
}

.row3 div{
	text-align: center;
}

.mission{
	background-color: #ec5e87;
}

.events{
	background-color: #7dabf4;
}

.involved{
	background-color: #213e8c;
}

.row4 div{
	margin: 0;
	background-color: white;
	font-size: 1.3em;
	padding: 0px;
}

.row4 img{
	height: 555px;
}

.row41text{
	text-align: center;
	background-color: white;
	font-size: 1.3em;
	color: black;
}

.row42text{
	text-align: center;
	background-color: white;
	font-size: 1.3em;
	color: black;
}

.row5 div{
	padding: 10px;
	text-align: center;
}